
\.idea/

src/__pycache__/

\.vscode/

*.DS_Store

LAB2/src/__pycache__/
LAB3/src/__pycache__/
LAB4/src/__pycache__/

LAB5/out/

LAB5/LAB5\.iml

*.class

LAB5/\.classpath

LAB5/\.project

LAB5/src/\.classpath

LAB5/src/\.project

LAB5/src/\*.png
